@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --text: #e3fcf9;
  --primary: #a8c7c3;
  --secondary: #613e4f;
  --accent: #a68573;
}

@layer components {
  .active {
    @apply text-accent-color;
  }

  .image {
    @apply rounded-[15px] border border-slate-500 transition ease-in-out hover:shadow-[0_2px_30px_3px_rgba(255,255,255,0.23)];
  }
}

* {
  @apply text-text-color;
  font-family: "Satoshi", sans-serif;
  box-sizing: border-box;
}

p {
  @apply text-[16px];
}

h3 {
  @apply mb-[10px] font-bold;
}

li {
  @apply mb-[7px];
}

body {
  background: url(./assets/Noise.svg);
  background-color: var(--background);
  height: 100vh;
}

.hero-bg {
  background: url(./assets/hero.jpg) no-repeat center;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
}

.hero-bg:hover {
  background: url(./assets/hero.jpg) no-repeat center;
  background-size: 105%;
}

.hero-bg > img {
  transition: all 0.3s ease-in-out;
}

.hero-bg:hover > img {
  transform: scale(1.07);
}
